
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made By Narendra Kumar Jha</p>
  </div>
</div>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="../../app.js"></script> -->
<!-- <script>
  
$('#content').click(function() {
  var reducedHeight = $(this).height();
  $(this).css('height', 'auto');
  var fullHeight = $(this).height();
  $(this).height(reducedHeight);

  $(this).animate({height: fullHeight}, 500);
});
</script> -->

</body>
</html>
